.item, .item2 {
    background-color: #1E232B;
    border: 1px solid #FFFFFF0F;
    border-radius: 8px;
    padding: 16px;
    height: 72px;
    position: relative;
}
.item2 {
    padding: 15px 16px;
}
.item + .item, .item2 + .item2 {
    margin-top: 8px;
}
.itemText {
    color: #F5F9FC;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 200px);
    white-space: nowrap;
    vertical-align: middle;
}
.infoBox {
    width: 134px;
    height: 40px;
    position: absolute;
    right: 16px;
    top: 16px;
    text-align: right;
}
.infoBox p {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #BABBBF;
}
.infoBox p:last-child {
    display: inline;
    vertical-align: text-bottom;
}
.itemBoxText {
    display: inline-flex;
    letter-spacing: 0;
    height: 40px;
    width: calc(100% - 200px);
    flex-wrap: wrap;
    vertical-align: top;
}
.itemBoxTextTitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    height: 24px;
    color: #F5F9FC;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
.itemBoxTextSub {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #BABBBF;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}
.displayInline {
    display: inline;
}
.textMiddle {
    vertical-align: middle;
}

@media only screen and (max-width: 1200px) {
    .item, .item2 {
        height: auto;
    }
    .itemText, .itemBoxText  {
        width: calc(100% - 74px);
    }
    .infoBox {
        margin-top: 16px;
        position: initial;
        text-align: left;
    }
}
